body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light grey background */
}

h1 {
    text-align: center;
    color: #333; /* Dark grey color for text */
    margin-top: 20px;
}

#stockSelector {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
}

#chartTypeControls {
    text-align: center;
    margin: 20px;
}

#chartTypeControls button,
#fullscreenButton { /* Style for all buttons including the full-screen button */
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #5DADE2; /* Sky blue background for buttons */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#chartTypeControls button:hover,
#fullscreenButton:hover { /* Hover style for all buttons */
    background-color: #3498DB; /* Darker blue on hover */
}

#chartContainer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    background-color: #ffffff;
    margin: 20px auto;
    border-radius: 5px;
    height: 300px; /* Set the height of the chart */
    width: 100%;   /* Set the width of the chart */
}

#d3ChartContainer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    background-color: #ffffff;
    margin: 20px auto;
    border-radius: 5px;
    height: auto; /* Height will depend on the content */
    width: 100%;  /* Set the width to 100% to accommodate the SVG width */
    overflow: hidden; /* Hide overflow */
    position: relative; /* For positioning internal elements */
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font: 12px sans-serif;
    background: lightsteelblue; /* You can change the color if needed */
    color: black; /* Ensure the text color contrasts with the background */
    border: 1px solid #777; /* Optional: adds a border */
    border-radius: 8px;
    pointer-events: none;
    opacity: 0; /* Start hidden */
    transition: opacity 0.2s ease-in-out; /* Smooth fade-in/out */
    white-space: nowrap; /* Prevents text from wrapping */
    z-index: 1000; /* Ensures the tooltip is above other elements */
   }